.jtext {
    text-align: justify;
    text-justify: auto;
    color: #393B3B;
}

.jtext-ex {
    text-align: justify;
    text-justify: auto;
    color: #393B3B;
    font-size: 13px;
}

.vdesc {
    text-align: justify;
    text-justify: auto;
    color: #393B3B;
    font-size: 14px;
}

#MainMenu {
    visibility: hidden;
}

footer{
    visibility: hidden;
}

[data-testid="stSidebarNav"]::before {
    content: "GPP Data Map Tool";
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
    position: relative;
    top: 100px;
}

.ek41t0m0 p{
    text-align: justify;
    text-justify: auto;
    color: #393B3B;
    font-size: 14px;
}

.st-fq .st-b4 p{
    font-weight: 600;
}

[data-baseweb="tab-list"] p{
    font-weight: 600;
}